.Customer {
  &-title {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 20px;
    padding-left: 25px;
    @include for-size(tablet-portrait-up) {
      width: 80%;
      text-align: left;
    }
  }
  &-link {
    display: none;
    font-size: 14px;
    color: #4d7fd5;
    transition: color .3s ease-in-out;
    text-decoration: none;
    text-align: center;
    text-decoration: none;
    @include for-size(tablet-portrait-up) {
      display: block;
      margin-left: 25px;
      margin-top: 4px;
      text-align: left;
      font-size: 16px;
    }
  }
  &-item {
    padding: 38px 48px 51px;
    background: #fff;
    box-shadow: 0 36px 48px 0 rgba(0,0,0,.08);
    text-align: left;
    width: 100%;
      @include for-size(tablet-portrait-up) {
        border-radius: 10px;
        padding: 60px 50px;
        width: 570px;
      }
    }
    &-content {
      margin-bottom: 38px;
      font-size: 14px;
      line-height: 1.8;
      color: #333;
    }

    &-overlay{
      position: relative;
      margin-top: -64px;
    }

  &-item-star {
    color: $star;
    margin: 0 6px 0 0;
  }
  &-item-star-icon{
    width: 18px;
    height: 18px;

  }
}

.CustomerInfos {
  color: #333;
    font-size: 14px;
    display: flex;
    align-items: center;
    @include for-size(tablet-portrait-up){
      font-size: 16px;
    }
  &-userFace {
    margin-right: 26px;
  }
  &-testimonial_pic{
    width: 50px;
    height: 50px;
  }
  &-userName {
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.5;
    @include for-size(tablet-portrait-up){
      font-size: 16px;
    }
  }
  &-userAddress {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5;
    @include for-size(tablet-portrait-up){
      font-size: 14px;
    }
  }
}
.mobile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 26px;
  @include for-size(tablet-portrait-up){
    display: none;
  }
  a {
    text-decoration: none;
    color: $mainColor;
  }
}
.On-mobile {
  display: none;
  @include for-size(tablet-portrait-up){
    display: block;
  }
}
.row {
margin: 0 auto;
margin-right: 0px;
margin-left: 0px;
padding-right: 0px;
padding-left: 0px;
}
